<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Setup" data-toc-modified-id="Setup-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Setup</a></span></li><li><span><a href="#Loading-Data" data-toc-modified-id="Loading-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Loading Data</a></span></li><li><span><a href="#Understanding-the-data" data-toc-modified-id="Understanding-the-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Understanding the data</a></span></li><li><span><a href="#Calculating-P-value" data-toc-modified-id="Calculating-P-value-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Calculating P-value</a></span></li></ul></div>

# Setup

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from shutil import copyfileobj
from six.moves import urllib

%matplotlib inline

def filepath(data_url, file_name):
    data_path = os.path.join('Data')
    if not os.path.exists(data_path):
        os.makedirs(data_path)
    data_save_path = os.path.join(data_path, file_name)
    
    if not os.path.exists(data_save_path):
        data_local = urllib.request.urlopen(data_url)
        with open(data_save_path, "wb") as csv_file:
            copyfileobj(data_local, csv_file)

        
    return data_save_path


data_url ='http://video.udacity-data.com.s3.amazonaws.com/topher/2016/September/57d0de98_customerserviceabtestdata/customerserviceabtestdata.csv'
file_name = 'customerserviceabtestdata.csv'

data = filepath(data_url, file_name)

# Loading Data

In [2]:
df = pd.read_csv(data)
print(df.shape)
df.head()

(1000, 4)

   RecordID    Phone Number  AutomatedFlag  CS Rating
0         1  (733) 308-5171              1          2
1         2  (737) 479-9819              0          5
2         3  (571) 837-6630              0          4
3         4  (746) 481-2200              0          5
4         5  (224) 126-2105              1          4

# Understanding the data

In [3]:
df_auto = df[df.AutomatedFlag == 1]
df_nonauto = df[df.AutomatedFlag == 0]

In [4]:
df_auto.head()

    RecordID    Phone Number  AutomatedFlag  CS Rating
0          1  (733) 308-5171              1          2
4          5  (224) 126-2105              1          4
10        11  (504) 714-6056              1          2
11        12  (344) 668-4779              1          4
12        13  (203) 736-4156              1          1

# Calculating P-value

In [5]:
from scipy import stats
stats.ttest_ind(df_auto['CS Rating'], df_nonauto['CS Rating'])

Ttest_indResult(statistic=1.8999728190974796, pvalue=0.05772470625712756)